<ng-container *ngIf="isCustomLayout else noCustomLayout">
  <router-outlet></router-outlet>
</ng-container>
<ng-template #noCustomLayout>
  <mk-layout-wrapper>
    <mk-layout-header [isSidebarLeftToggle]="false" [isSidebarRightToggle]="false" [logoLink]="['/', 'boxs', 'info-box']" >
      <mk-layout-header-logo><b>Admin</b>LTE</mk-layout-header-logo>
      <mk-layout-header-logo-mini><b>A</b>LT</mk-layout-header-logo-mini>
    </mk-layout-header>
    <mk-layout-sidebar-left>
    </mk-layout-sidebar-left>
    <mk-layout-content>
      <router-outlet></router-outlet>
    </mk-layout-content>
    <mk-layout-footer>
      <mk-layout-footer-left>
        Footer left HTML
      </mk-layout-footer-left>
      <mk-layout-footer-right>
        Footer right HTML
      </mk-layout-footer-right>
    </mk-layout-footer>
  </mk-layout-wrapper>
<ng-template>